*{
	margin: 0;
	padding:0;
	font: inherit;
}


html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
	background-color: black;
}

html,body,section{
	margin: 0px;
	height: 100%;
}

#container{
	width: 100%;
	height: 100%;
	background-position: center;
	background-image: url(../assets/image/index/tnt.png);
	-webkit-background-size:cover; 
	-moz-background-size:cover;
	background-size:cover;
	overflow: hidden;
}

.joinus{
	height: 35%;
	margin-right: 10%;
	margin-top:2%;
	text-align: right;
}

.joinus p{
	font-size: 2.5em;
	color:#EF5226;
	font-family: 'Kaushan Script', cursive;
	text-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

ol, ul { list-style: none; }


.menu{
	/*border: solid 2px green;*/
	text-align: center;
}

.menu li {
    display: inline-block;
    /*border: solid 2px red;*/
}
/*
li>.btn{
	background: transparent;
    color: #ff3b6b;
	display: inline-block;
	height: 120px;
	width: 120px;
	border: 1px solid #ff3b6b;
	border-radius: 100%;
	margin-left: 15px;
	margin-top: 5px;
	margin-right: 15px;
	text-align: center;
	font-size: 20px;
	font-family: 'Quattrocento', serif;
	-moz-outline:none;
	-o-outline:none;
	-webkit-outline:none;
	outline:none;
    -webkit-transition: .5s;
    transition: .5s;
    cursor: pointer;
	text-shadow: 0 0 1px rgba(111,134,134,0.3);
}
*/

li>.btn{
	background: transparent;
	color: #ff3b6b;
	display: inline-block;
	height: 130px;
	width: 130px;
	border: 1px solid #ff3b6b;
	border-radius: 100%;
	margin-right: 15px;
	margin-left: 15px;
	font-size: 22px;
	font-family: 'Quattrocento Sans', sans-serif;
	cursor: pointer;
}



li>.btn:hover,
li>.btn:focus{
	color: #fff;
    background:#ff3b6b;
	transition: .5s;
	opacity: 1;
}

span{
	font-family:"微軟正黑體" ,"新細明體", "細明體" ,Georgia ;
}

.btn.e-btn>span{
	font-family: 'Quattrocento Sans', sans-serif;
	font-size:15px;
}

.btn.t-btn>span{
	font-family: 'Quattrocento Sans', sans-serif;
	font-weight:700;
	color:#1b4a63;
}


/*
.btn.e-btn{

}
*/

/*
.btn.i-btn{
 background: linear-gradient(to left, rgba(218,13,20,0.2),rgba(218,13,20,.8),rgba(218,13,20,1),rgba(218,13,20,1));
}


.btn.t-btn{
  background: linear-gradient(to left, rgba(255,255,41,0.2),rgba(255,255,41,.8),rgba(255,255,41,1),rgba(255,255,41,1));
}


.btn.h-btn{
  background: linear-gradient(to left, rgba(78,47,27,0.2),rgba(78,47,27,.8),rgba(78,47,27,1),rgba(78,47,27,1));
}


.btn.m-btn{
 background: linear-gradient(to left, rgba(19,18,15,0.2),rgba(19,18,15,.8),rgba(19,18,15,1),rgba(19,18,15,1));
}*/

@media screen and (min-width: 610px) and (max-width: 767px) {
    li>.btn{
	    margin-left: 40px;
	    margin-right: 40px;
    }
}

@media screen and (min-width: 331px) and (max-width: 457px) {
   #container{
	    height: 600px;
	    width: 100%;
    }

   .joinus{
	    height: 20%;
   }

    .menu li {
        display: inline;
    }

    li>.btn{
	    height: 100px;
	    width: 100px;
	    margin-bottom: 10px;
	    margin-left: 10px;
	    margin-right: 10px;
    }
}


@media screen and (max-width: 330px) {
   #container{
	height: 600px;
	width: 100%;
}

   .joinus{
	height: 16%;
}

.menu li {
    display: inline;
}

li>.btn{
	height: 90px;
	width: 90px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

}