*{
	margin: 0;
	padding:0;
	font: inherit;
}


html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
	background-color: black;
}

html,body,section{
	margin: 0px;
	height: 100%;
}

header{
	height: 35%;
	width: 100%;
}

.guku-logo,
.joinus{
	height: 35%;
	width: 160px;
	margin-top:2%;
}

.guku-logo{
    margin-left: 8%;
	float: left;
	text-align: center;
}

.guku-logo p{
	float: left;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 2.5em;
	color:#EF5226;
	text-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.joinus{
	height: 35%;
	width: 160px;
	margin-right: 8%;
	margin-top:2%;
	text-align: right;
	cursor: pointer;
	float: right;
}

.joinus a {
	float: left;
    text-decoration: none;
    font-size: 2.5em;
	color:#ffffff;
	font-family: 'Kaushan Script', cursive;
	text-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.joinus a::before {
	color: #EF5226;
	content: attr(data-hover);
	position: absolute;
	opacity: 0;
	text-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);
	-webkit-transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
	-moz-transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
	transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	pointer-events: none;
}

.joinus a:hover::before,
.joinus a:focus::before {
	-webkit-transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
	-moz-transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
	transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
	opacity: 1;
}

#container{
	width: 100%;
	height: 100%;
	background-position: center;
	background-image: url(../assets/image/index/tnt.png);
	-webkit-background-size:cover; 
	-moz-background-size:cover;
	background-size:cover;
	overflow: hidden;
}

ol, ul { 
	list-style: none;
	 }

.box-menu{
	clear: both;
}

.menu{
	/*border: solid 2px green;*/
	text-align: center;
}

.menu li {
    display: inline-block;
    /*border: solid 2px red;*/
}


li>.btn{
	background:rgba(255,255,255,.2);
	color: #EF5226;
	display: inline-block;
	height: 130px;
	width: 130px;
	border: 2px solid #EF5226;
	border-radius: 100%;
	margin-right: 15px;
	margin-left: 15px;
	font-size: 22px;
	font-family: 'Quattrocento Sans', sans-serif;
	cursor: pointer;
	-moz-outline:none;
	-o-outline:none;
	-webkit-outline:none;
	outline:none;
	text-shadow: 0 0 2px rgba(111,134,134,0.3);
}



li>.btn:hover,
li>.btn:focus{
	color: #fff;
    background:rgba(239,82,38,0.9);
	transition: .5s;
	opacity: 1;
}
span{
	font-family:"微軟正黑體" ,"新細明體", "細明體" ,Georgia ;
}

.btn.e-btn>span{
	font-family: 'Quattrocento Sans', sans-serif;
	font-size:15px;
}
/*
.btn.t-btn>span{
	font-family: 'Quattrocento Sans', sans-serif;
	font-weight:700;
	color:#1b4a63;
}
*/



@media screen and (min-width: 640px) and (max-width: 820px) {
    li>.btn{
	    margin-left: 40px;
	    margin-right: 40px;
    }
}

@media screen and (min-width: 331px) and (max-width: 490px) {
   #container{
	    height: 600px;
	    width: 100%;
    }

    .joinus,
    .guku-logo{
    width: 36%;
    }

    .joinus a,
    .guku-logo p {
    	font-size: 2em;
    }

   header{
	    height: 20%;
   }

    .menu li {
        display: inline;
    }

    li>.btn{
	    height: 50px;
	    width: 50%;
	    margin-bottom: 10px;
	    margin-left: 10px;
	    margin-right: 10px;
	    border-radius: 5%;
    }
}


@media screen and (max-width: 330px) {
   #container{
	    height: 400px;
	    width: 100%;
    }

    header{
	    height: 16%;
    }

    .joinus a,
    .guku-logo p {
    	font-size: 1.5em;
    }


    .joinus,
    .guku-logo{
    width: 32%;
    }

   .menu li {
        display: inline;
    }

    li>.btn{
	   height: 40px;
	   width: 50%;
	   margin-bottom: 10px;
	   margin-left: 10px;
	   margin-right: 10px;
	   border-radius: 5%;
    }

}