.fixed-bg.bg-1 {
  background-image:  url("../assets/image/moluei/header.png");
}

.fixed-bg.bg-2 {
  background-position: top center;
  background-image: url("../assets/image/moluei/05.jpg");
}
.fixed-bg.bg-3 {
  background-position: center;
  background-image: url("../assets/image/moluei/04.png");
}

.fixed-bg.bg-1:before{
  border-bottom: 40px solid #FA9C69;
}

.fixed-bg.bg-1:after{
  border-bottom: 40px solid #FA9C69;
}

.left-container{ 
  background-image:  url("../assets/image/moluei/09.png");
}

.scrolling-bg.about-bg {
  background-color: #FA9C69;
  color: #FFFFFF;
}
.scrolling-bg.style-bg {
  background-color: #DCB892;
  color: #6B5B4E;
}
.scrolling-bg.rule-bg {
  background-color: #E2B29E;
  color: #513D32;
}

.scrolling-bg.contact-bg {
  background-color: #ffffff;
  color: #3d3536;
}

@media screen and (min-width: 770px){
  .left-container{
  margin-left:5%; 
  margin-top:5%; 
  float: left;
  width: 40%;
  background: url();
}

.left-container h1{
    margin-top:-5%;
    margin-left: -10%;
    margin-bottom:5%; 
    font-size: 36px;
    font-weight:900;
  }


.right-container{
  display:table;
  padding:0;
  float: right;
  width: 50%;
  z-index: 3;
  height: 100%;
  position: relative;
  background-size: cover;
  background-repeat: center right;
  background-image:  url("../assets/image/moluei/09.png");
}
}

