
.fixed-bg.bg-1 {
  background-image:  url("../assets/image/tnt/header.png");
}

.fixed-bg.bg-2 {
  background-position: center;
  background-image: url("../assets/image/tnt/02.png");
}
.fixed-bg.bg-3 {
  background-position: center;
  background-image: url("../assets/image/tnt/03.png");
}

.fixed-bg.bg-1:before{
  border-bottom: 40px solid #6d929c;
}

.fixed-bg.bg-1:after{
  border-bottom: 40px solid #6d929c;
}

.left-container{ 
  background-image:  url("../assets/image/tnt/about.png");
}

.scrolling-bg.about-bg {
  position: relative;
  background-color: #6d929c;
  color: #FFFFFF;
}
.scrolling-bg.style-bg {
  background-color: #AAAAAA;
  color: #231E2E;
}
.scrolling-bg.rule-bg {
  background-color: #fff;
  color: #474747;
}

.scrolling-bg.contact-bg {
  background-color: #ffffff;
  color: #3d3536;
}

@media screen and (min-width: 770px){
  .left-container{
  margin-top:5%;
  margin-left:10%;  
  float: left;
  width: 70%;
  background: url();
  z-index: 3;
  line-height: 175%;
}

.left-container h1{
    margin-left:-10%;
    font-size: 36px;
    font-weight:900;
    margin-bottom:1%; 
  }


.right-container{
  position: absolute;
  display:table;
  width: 50%;
  z-index: 2;
  height: 100%;
  margin-left:50%; 
  background-size: cover;
  background-repeat: center right;
  background-image:  url("../assets/image/tnt/about.png");
}
}


