html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

body {
    font-size: 100%;
    font-family: "Roboto", sans-serif;
    background-color: white;
    color: #3d3536;
}

a {
    text-decoration: none;
}

.article-container {
    width: 90%;
    max-width: 768px;
    margin: 0 auto;
}

.article-container::after {
    content: '';
    display: table;
    clear: both;
}

.tnt-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    z-index: 2;
}
.tnt-header:after {
    content: "";
    display: table;
    clear: both;
}

.tnt-header #tnt-logo {
    float: left;
    margin: 11px 0 0 5%;
}

#tnt-logo p{
	font-size: 28px;
    color:#ff6d24; 
}

@media only screen and (min-width: 768px) {
    .tnt-header {
        height: 70px;
    }

    .tnt-header #tnt-logo {
        margin: 17px 0 0 5%;
    }

    #tnt-logo p{
	font-size: 36px; 
    }
}

.tnt-nav {
  float: right;
  margin-right: 5%;
  width: 46px;
  height: 100%;
  background: url("../assets/image/icon-menu.svg") no-repeat center center;
  background-size: 46px 46px;
  cursor: pointer;
}

.tnt-nav ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}
.tnt-nav ul.is-visible {
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -o-transform: translateY(50px);
  transform: translateY(50px);
}
.tnt-nav a {
  display: block;
  height: 50px;
  line-height: 50px;
  padding-left: 5%;
  background: #2f292a;
  border-top: 1px solid #453c3d;
  color: #9e8564;
}


@media only screen and (min-width: 768px) {
  .tnt-nav {
    width: auto;
    height: auto;
    background: none;
    cursor: auto;
  }
  .tnt-nav ul {
    position: static;
    width: auto;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    line-height: 70px;
  }

  .tnt-nav li {
    display: inline-block;
    margin-left: 1em;
  }

  .tnt-nav a {
  	position: relative;
    display: inline-block;
    height: auto;
    line-height: normal;
    background: transparent;
    padding: .6em 1em;
    border-top: none;
    color: #47403a;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    font-size: 1rem;
  }

 .tnt-nav a::before,
 .tnt-nav a::after {
	position: absolute;
	left: 0;
	width: 100%;
	height: 2px;
	background: #47403a;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}

.tnt-nav a::before {
	top: 0;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}

.tnt-nav a::after {
	bottom: -2px;
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	transform: translateY(10px);
}

.tnt-nav a:hover,
.tnt-nav a:focus {
	color: #080604;
}

.tnt-nav a:hover::before,
.tnt-nav a:focus::before,
.tnt-nav a:hover::after,
.tnt-nav a:focus::after {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}

}

.tnt-main-content {
  height: 100%;
  position: relative;
  z-index: 1;
}

.fixed-bg {
  position: relative;
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 1;
}

.fixed-bg h1{
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 90%;
  max-width: 1170px;
  text-align: center;
  font-size: 30px;
  font-size: 1.875rem;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  color: white;
}
.fixed-bg.bg-1 {
  background-image:  url("../assets/image/tnt.png");
}

@media only screen and (min-width: 768px) {
  .fixed-bg h1 {
    font-size: 36px;
  }
}
@media only screen and (min-width: 1170px) {
  .fixed-bg {
    background-attachment: fixed;
  }
  .fixed-bg h1{
    font-size: 48px;
    font-weight: 300;
  }
}


